# flake8: NOQA
# compas
# compas-cgal
# compas-fab
# compas-view2
# flake8
# Flask
# h5py
# igl
# invoke >= 0.14
# numpy >= 1.15.4
# open3d >= 0.14.1
# pandas
# plyfile
# pyshtools >= 4.9.1
# pytest >= 6.2.5
# rhino3dm >= 7.11.1
# scikit-learn
# scipy >= 1.1
# tensorflow >= 2.6.0
rhinoinside>=0.6.0
ghhops-server>=1.5.2
potpourri3d>=0.0.7